@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Gafata);

/* 
===============================================
Reset Broswer defined CSS
===============================================
*/

div,
span,
applet,
object,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
===============================================
CSS rules for the site
===============================================
*/

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family: 'Gafata', sans-serif;
}
h1 {
    color: #e0502d;
    font-family: inherit;
    font-size: 40px;
    padding: 0;
    margin: 0;
}
h2 {
    color: #e0502d;
    font-family: inherit;
    font-size: 22px;
    padding: 0 0 20px 0;
    margin: 0;
}
h3 {
    color: #e0502d;
    font-family: inherit;
    font-size: 22px;
    padding: 0 0 20px 0;
    margin: 0;
    text-align: right;
}
p {
    text-align: justify;
    color: #000;
    font-family: inherit;
    font-size: 16px;
    margin: 0;
    padding: 10px 10px 10px 0;
}
p.ph {
    text-align: justify;
    color: #000;
    font-family: inherit;
    font-size: 16px;
    margin: 0;
    padding: 10px 10px 10px 0;
background-color: rgba(236, 236, 236, 0.8);
}
.quote {
    text-align: center;
    color: #e0502d;
    font-family: inherit;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    margin: 0;
    padding: 10px 10px 10px 0;
}
.quote1 {
    background-color:rgba(236, 236, 236, 0.8);
    text-align: center;
    color: #e0502d;
    font-family: inherit;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    margin: 0;
    padding: 10px 10px 10px 0;
}
p.p {
    text-align: right justify;
    color: #000;
    font-family: inherit;
    font-size: 16px;
    margin: 0;
    padding: 10px 10px 10px 0;
}
span.heading {
    color: #e0502d;
    font-family: inherit;
    font-size: 20px;
}
p.numbers {
    text-align: center;
    width: auto;
    height: auto;
    color: #074e9c;
    font-weight: bold;
    font-family: inherit;
    font-size: 22px;
    text-align: left;
    padding: 0 0 5px 0;
}
span.speech {
    text-align: center;
    width: auto;
    height: auto;
    color: #074e9c;
    font-weight: bold;
    font-family: inherit;
    font-size: 22px;
    text-align: left;
    padding: 0 0 5px 0;
}
/*
===============================================
Navigation bar
===============================================
*/

.image {
    float: left;
    padding: 10px 0 0 40px;
    opacity: 1;
    width: 190px;
    height: 87px;
}
#navigation {
    position: fixed;
    text-align: center;
    display: block;
    width: 100%;
    height: 103px;
    background-color: rgba(236, 236, 236, 0.8);
    padding: 0;
    margin: 0;
    z-index: 100;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#navigation ul {
    margin: 0;
    line-height: 5;
}
#navigation ul li {
    display: inline;
    width: 100%;
    margin: 0;
    border: 0;
}
#navigation ul li a {
    width: 100%;
    font-family: inherit;
    font-size: 1.5vw;
    color: #000;
    text-decoration: none;
    padding: 0 2% 0 2%;
    margin: 2vw 0 0 0;
    border: 0;
}
#navigation ul li a:hover {
    color: #e0502d;
    margin: 0;
    border: 0;
}
/*
===============================================
Home Page
===============================================
*/
#himage{
    padding: 150px 10% 0 10%; 
}
.himage img {
    background-color: rgba(236, 236, 236, 1);
    margin: 12px;
    border: solid #dbd8d8 4px;
    border-radius: 10px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    animation-name: fade;
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -ms-animation-name: fade;
    -o-animation-name: fade;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-duration: 30s;
    -webkit-animation-duration: 30s;
    -moz-animation-duration: 30s;
    -ms-animation-duration: 30s;
    -o-animation-duration: 30s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#i1 {
    -webkit-animation-delay: -12s;
    -moz-animation-delay: -12s;
    -ms-animation-delay: -12s;
    -o-animation-delay: -12s;
    animation-delay: -12s;
}
#i2 {
    -webkit-animation-delay: -18s;
    -moz-animation-delay: -18s;
    -ms-animation-delay: -18s;
    -o-animation-delay: -18s;
    animation-delay: -18s;
}
#i3 {
    -webkit-animation-delay: -12s;
    -moz-animation-delay: -12s;
    -ms-animation-delay: -12s;
    -o-animation-delay: -12s;
    animation-delay: -12s;
}
#i4 {
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
    -ms-animation-delay: -6s;
    -o-animation-delay: -6s;
    animation-delay: -6s;
}
#home1 {
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-color: #FFF;
    height: 100%;
    width: 100%;
}
#home2 {
    background: url(image/home1.png) no-repeat fixed;
    position: absolute;
    background-size: contain;
    background-color: rgba(236, 236, 236, 1);
    height: 100%;
    width: 100%;
    top: 100%;
}
.text{
    margin: 20% 10% 20% 10%;
}
#home3 {
    background: url(image/hom5.png) no-repeat fixed;
    position: absolute;
    /*background-position: center center;*/
    background-size: contain;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    top: 200%;
}
#homeleft {
    float: left;
    width: 30%;
    height: 70%;
    padding: 20% 14% 0 6%;
}
#homeright {
    float: left;
    width: 30%;
    height: 70%;
    padding: 20% 6% 0 14%;
}
#quote {
    float: left;
    width: 60%;
    height: 17%;
    display: block;
    margin: 375px 20% 0 20%;
    padding: 0;
    position: absolute;
    background-color: #FFF;
}
#footer {
    position: absolute;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 40px;
    top: 300%;
    background-color: rgba(236, 236, 236, 1);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
}
p.innerfoot {
    margin: 0;
    padding-top: 8px;
    text-align: center;
    font-family: inherit;
    color: #000;
    font-size: 1.4vw;
}
#footer a {
    font-family: inherit;
    font-size: 1.1vw;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 0 10px 0 10px;
}
#footer a:hover {
    color: #65A6F1;
}
/*
===============================================
about Page
===============================================
*/

#about1 {
    position: absolute;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    top: 150px;
}
.leftab {
float: left;
width: 48.8%;
margin-right: 2.5%;
}
.aboutimage {
    float: left;
    width: 95%;
    height: 45vh;
    overflow: hidden;
    background-color: rgba(236, 236, 236, 1);
    margin: 12px;
    border: solid #dbd8d8 4px;
    border-radius: 10px;
    padding: 5px;
}

#control{
    height:100%;
    clear: both;
    padding: 8px 0 4% 0;
    margin: 0 10%  10%;
}
#diagram{
    overflow:hidden;
   float: left;
    width: 99%;
    height: 45vh;
    background-color: rgba(236, 236, 236, 1);
    margin: 20px 0 0 0 ;
    border: solid #dbd8d8 4px;
    border-radius: 10px;
    padding: 5px;
}
#footera {
    position: absolute;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 40px;
    top: 200%;
    background-color: rgba(236, 236, 236, 1);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
}
#footera a {
    font-family: inherit;
    font-size: 1.1vw;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 0 10px 0 10px;
}
#footera a:hover {
    color: #65A6F1;
}
/*
===============================================
Services
===============================================
*/
.pimage img {
    /*
    margin: 12px;
    border: solid #dbd8d8 4px;
    border-radius: 10px;
    padding: 5px;*/
     background-color: rgba(236, 236, 236, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    animation-name: fade;
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -ms-animation-name: fade;
    -o-animation-name: fade;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-duration: 30s;
    -webkit-animation-duration: 30s;
    -moz-animation-duration: 30s;
    -ms-animation-duration: 30s;
    -o-animation-duration: 30s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#services1 {
     position: absolute;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    top: 150px;
}
#simage{
    padding: 20px 10% 0 10%; 
}

#products{
    float:left;
    padding:34% 3% 20px 3%;
	margin:0 20% 0 8%; 
    overflow:hidden;
}
#product{
    float:left;
    padding:10px 3% 20px 3%;
	margin:0 20% 0 8%; 
    overflow:hidden;
}
.pimg{
	height:40%;
	width:30%;
	padding:0 20px 10px 0;
	margin:0;
	float:left;
}
.container{
    padding:0;
    margin:0;
    width:100%;
    height:40%;
}
/*
===============================================
Frequently asked questions
===============================================
*/

#faq {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    position: relative;
    font-family: inherit;
    padding: 30px 0 0 0;
    margin-top: 0px;
}
.faqimage {
    float: left;
    width: 95%;
    height: 45vh;
    overflow: hidden;
    background-color: rgba(236, 236, 236, 1);
    margin: 25px 12px 12px 12px;
    border: solid #dbd8d8 4px;
    border-radius: 10px;
    padding: 5px;
}
#footerf {
    position: absolute;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 40px;
    top: 220%;
    background-color: rgba(236, 236, 236, 1);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
}
#footerf a {
    font-family: inherit;
    font-size: 1.1vw;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 0 10px 0 10px;
}
#footerf a:hover {
    color: #65A6F1;
}
/*
===============================================
Contact
===============================================
*/

#contact {
    position: absolute;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    top: 150px;
}
#title {
    padding: 0 0 20px 0;
    margin: 0 10% 0 10%;
    height: 45px;
    width: auto;
    border-bottom: solid #CCC 2px;
}
#wrapper {
    clear: both;
    overflow: hidden;
    padding: 30px 0 0 0;
    margin: 0 10% 50px 10%;
}
.leftft {
    float: left;
    width: 49%;
    margin-right: 1%;
}
.rightft {
    float: left;
    width: 49%;
    margin-left: 1%;
}
.title {
    padding: 0 0 0 2%;
    margin: 0;
}
#form {
    display: block;
    width: 480px;
    height: 38vw;
}
#form textarea {
    float: left;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin: 0 3px 7px 3px;
    color: #FFF;
    background-image: url(image/form.png);
    border: thin #e0502d;
    width: 450px;
    height: 150px;
    font-family: inherit;
    font-size: 16px;
}
::-webkit-input-placeholder {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
}
:input-placeholder {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
}
.button {
    float: right;
    line-height: 30px;
    list-style: none;
    padding: 0 0 5px 0;
    margin: 0 5px 3px 3px;
    background: #999;
    border: thin #65A6F1;
    width: 70px;
    height: 30px;
    font-family: inherit;
    font-size: 16px;
    color: #FFF;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #FFF;
}
.sform {
    float: left;
    line-height: 30px;
    padding: 5px 10px;
    margin: 0 3px 7px 3px;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    background-image: url(image/form.png);
    border: thin #e0502d;
    width: 212px;
    height: 30px;
}
.eform {
    float: left;
    line-height: 30px;
    padding: 5px 10px;
    margin: 0 3px 7px 3px;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    background-image: url(image/form.png);
    border: thin #e0502d;
    width: 450px;
    height: 30px;
}
p.foot {
    margin: 0;
    padding-top: 8px;
    text-align: center;
    font-family: inherit;
    color: #000;
    font-size: 1.4vw;
}
#footerc {
    position: absolute;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 40px;
    top: 150%;
    background-color: rgba(236, 236, 236, 1);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
}
#footerc a {
    font-family: inherit;
    font-size: 1.1vw;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 0 10px 0 10px;
}
#footerc a:hover {
    color: #65A6F1;
}
/*
===============================================
Privacy Policy
===============================================
*/

.timage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(image/home1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#title1 {
    padding: 0 0 20px 0;
    margin: 0;
    height: 45px;
    width: auto;
    border-bottom: solid #CCC 2px;
}
#privacy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    position: relative;
    font-family: inherit;
    padding: 30px 0 0 0;
    margin-top: 0px;
}
.privacytext {
    height: auto;
    background-color: rgba(255, 255, 255, 0.75);
    clear: both;
    overflow: hidden;
    padding: 120px 3% 20px 3%;
    margin: 0 7% 0 7%;
}
#footerp {
    position: absolute;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 40px;
    top: 190%;
    background-color: rgba(236, 236, 236, 1);
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.4);
}
#footerp a {
    font-family: inherit;
    font-size: 1.1vw;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 0 10px 0 10px;
}
#footerp a:hover {
    color: #65A6F1;
}