
@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
/*
===============================================
Reset Broswer defined CSS
===============================================
*/
div, span, applet, object, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
===============================================
My CSS
===============================================
*/
body {
	background-color: #EEE;
	margin:0;
	padding:0;
	font-family: 'Roboto Condensed', sans-serif;
}

h1{
	color:darkolivegreen;
	font-family:inherit;
	font-size:50px;
	padding:0;
	margin:0;

}
h2{
	color: #768841;
	font-family: inherit;
	font-size:40px;
	margin:0;
	padding:0;
}
h3{
	color:darkolivegreen;
	font-family:inherit;
	font-size:30px;
}
p.detail {
	width:auto;
	height:auto;
	color: #666;
	font-weight: bold;
	font-family: inherit;
	font-size: 22px;
	text-align:left;
	padding: 0 0 5px 0;
}
p.p{
	text-align:justify;
	color:#999;
	font-family:inherit;
	font-size:16px;
	margin:0;
	padding: 10px;
	line-height:120%;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;

}
p.pr{
	text-align:justify;
	color:#999;
	font-family:inherit;
	font-size:22px;
	margin:0;
	padding: 10px 10px 80px 0;
	line-height:120%;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;

}
span.answer {
	color: #65A6F1 ;
	font-family: inherit;
	font-size: 20px;
}

p{
	text-align:justify;
	color:#999;
	font-family:inherit;
	font-size:22px;
	margin:0;
	padding: 10px;
	line-height:120%;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;

}

/*
===============================================
Navigation for home page.
===============================================
*/

.image{
	float:left;
	padding: 0 0 0 40px;
	opacity:1;
	width:190px;
	height:150px;
	
}


#navigation { /*navigation properties*/
	position: fixed;
	text-align: center;
	display: block;
	width: 100%;
	height: 153px;
	background-color:rgba(0, 0, 0, 0.6);
	padding:0; 
	margin: 0;
	z-index: 100;
}

#navigation ul {
	margin: 0;
	line-height:8;
}


#navigation ul li { /* displays naviagtions in a line*/
	display: inline;
	width:100%;
	margin: 0;
	border: 0; 
}
#navigation ul li a { /* text formatting */
	width:100%;
	font-family:inherit;
	font-size: 1.5vw;
	color: #fff;
	text-decoration: none;
	padding: 0 2% 0 2%;
	margin: 2vw 0 0 0;
	border: 0;
	
}
#navigation ul li a:hover { /*changes colour as you hover*/
	background-color:darkolivegreen;
	margin: 0;
	border: 0; 
}
/*
===============================================
Home Page
===============================================
*/
#splash {
	height: 65vw;
	width: 100%;
	display: block;
	background-color:#eee;
	position:relative;
	margin:0;
	padding:0;
	
	
	
}
.himage img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	height:100%;
	position:absolute;
    animation-name: fade;
	-webkit-animation-name: fade;
	-moz-animation-name: fade;
	-ms-animation-name: fade;
	-o-animation-name: fade;
    animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
    animation-duration: 30s;
	-webkit-animation-duration:30s;
	-moz-animation-duration: 30s;
	-ms-animation-duration: 30s;
	-o-animation-duration: 30s;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#i1 {
    -webkit-animation-delay: -12s;
	-moz-animation-delay: -12s;
	-ms-animation-delay: -12s;
	-o-animation-delay: -12s;
	animation-delay: -12s;
}
#i2 {
    -webkit-animation-delay: -18s;
	-moz-animation-delay: -18s;
	-ms-animation-delay: -18s;
	-o-animation-delay: -18s;
	animation-delay: -18s;
}
#i3 {
    -webkit-animation-delay: -12s;
	-moz-animation-delay: -12s;
	-ms-animation-delay: -12s;
	-o-animation-delay: -12s;
	animation-delay: -12s;
}
#i4 {
    -webkit-animation-delay: -6s;
	-moz-animation-delay: -6s;
	-ms-animation-delay: -6s;
	-o-animation-delay: -6s;
	animation-delay: -6s;
}
/*
========================================
Background page for all except homepage
========================================
*/
.bimage img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	height:100%;
	position:fixed;
    animation-name: fade;
	-webkit-animation-name: fade;
	-moz-animation-name: fade;
	-ms-animation-name: fade;
	-o-animation-name: fade;
    animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
    animation-duration: 30s;
	-webkit-animation-duration:30s;
	-moz-animation-duration: 30s;
	-ms-animation-duration: 30s;
	-o-animation-duration: 30s;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

/*
===============================================
Navigation for rest of site
===============================================
*/

#navigation2 { /*navigation properties*/
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	height: 153px;
	background-color:rgba(0, 0, 0, 0.6);
	padding:0; 
	margin: 0;
	z-index: 100;
}

#navigation2 ul {
	margin: 0;
	line-height:8;
}


#navigation2 ul li { /* displays naviagtions in a line*/
	display: inline;
	width:100%;
	margin: 0;
	border: 0; 
}
#navigation2 ul li a { /* text formatting */
	width:100%;
	font-family:inherit;
	font-size: 1.5vw;
	color: #fff;
	text-decoration: none;
	padding: 0 2% 0 2%;
	margin: 2vw 0 0 0;
	border: 0;
	
}
#navigation2 ul li a:hover { /*changes colour as you hover*/
	background-color:darkolivegreen;
	margin: 0;
	border: 0; 
}
/*
=====================================
Responsibility page
=====================================
*/

#respon{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 55vw;
	width: 100%;
	position: relative;
	font-family:inherit;
	padding: 0 0 0 0;
	margin-top: 0px;
}
.respontext{
	height:100%;
	background-color: rgba(255, 255, 255, 0.75);
	clear: both;
	overflow: hidden;
	padding:20px 3% 20px 3%;
	margin:0 8% 0 22%; 
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	
}
/*
=====================================
About page
=====================================
*/

#about{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 79vw;
	width: 100%;
	position: relative;
	font-family:inherit;
	padding: 0 0 0 0;
	margin-top: 0px;
}
.abouttext{
	height:100%;
	background-color: rgba(255, 255, 255, 0.75);
	clear: both;
	overflow: hidden;
	padding:20px 3% 20px 3%;
	margin:0 22% 0 8%; 
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	
}

/*
=====================================
Videos page
=====================================
*/

#video{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 58vw;
	width: 100%;
	position: relative;
	font-family:inherit;
	padding: 0 0 0 0;
	margin-top: 0px;
}

.videocontent{
	height:100%;
	background-color: rgba(255, 255, 255, 0.75);
	clear: both;
	overflow: hidden;
	padding:20px 3% 20px 3%;
	margin:0 6.5% 0 6.5%; 
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	
}

.vidcontain{
	padding: 0 0 30px;
	display:inline;
}

video{
	cursor:pointer;
}



/*
=====================================
Products page
=====================================
*/

#product{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 100vw;
	width: 100%;
	position: relative;
	font-family:inherit;
	padding: 0 0 0 0;
	margin-top: 0px;
}
.producttext{
	height:100%;
	background-color: rgba(255, 255, 255, 0.75);
	clear: both;
	overflow: hidden;
	padding:20px 3% 20px 3%;
	margin:0 22% 0 8%; 
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	
}

.pimg{
	height:150px;
	width:185px;
	padding:0 20px 10px 0;
	margin:0;
	float:left;
}

/*
=====================================
Treatment page
=====================================
*/

#treatment{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 100vw;
	width: 100%;
	position: relative;
	font-family:inherit;
	padding: 0 0 0 0;
	margin-top: 0px;
}
.treatmenttext{
	height:100%;
	background-color: rgba(255, 255, 255, 0.75);
	clear: both;
	overflow: hidden;
	padding:20px 3% 20px 3%;
	margin:0 8% 0 22%; 
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	
}
.timg{
	height:150px;
	width:185px;
	padding:0 20px 10px 0;
	margin:0;
	float:left;
}
.aimg{
	height:200px;
	width:185px;
	padding:0 20px 10px 0;
	margin:0;
	float:left;
}


/*
=====================================
T&C's page
=====================================
*/
.timage{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	height:100%;
	position:fixed;
	background-image:url(image/scale.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#terms{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 120vw;
	width: 100%;
	position: relative;
	font-family:inherit;
	padding: 0 0 0 0;
	margin-top: 0px;
}
.termstext{
	height:100%;
	background-color: rgba(255, 255, 255, 0.75);
	clear: both;
	overflow: hidden;
	padding:20px 3% 20px 3%;
	margin:0 22% 0 8%; 
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	
}
/*
=====================================
Footer page
=====================================
*/


footer {
	position:absolute;
	display: block;
	width: 100%;
	height: 40px;
	background-color:#333;
	margin: 0;
	padding: 0;
	margin-top:0;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	box-shadow: 0 0 30px rgba(0,0,0,0.4);

}

p.innerfoot {
	margin: 0 ;
	padding-top: 8px;
	text-align: center;
	font-family: inherit;
	color: #ECEBEC;
	background-color:#333;
	font-size:18px;
}

#footer a{
	font-family:inherit;
	font-size: 0.9vw;
	color:darkolivegreen;
	text-decoration: none;
	float: right;
	padding:0 10px 10 0;
	
}
