@charset "UTF-8";
/* 
===============================================
Reset Broswer defined CSS
===============================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    opacity: 1;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
===============================================
#Site Styles
===============================================
*/
body{
    font-family: 'Roboto Condensed', sans-serif;
}
/*
===============================================
Navigation
===============================================
*/
#navigation {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 17vh;
    top: 83%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;
    z-index: 100;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#navigation ul {
    margin: 0;
    line-height: 18vh;
}
#navigation ul li {
    display: inline;
    width: 100%;
    margin: 0;
    border: 0;
}
#navigation ul li a {
    width: 100%;
    font-family: inherit;
    font-size: 1.5vw;
    color: #000;
    text-decoration: none;
    padding: 0 3% 0 3%;
    margin-top: 2vw;
    border: 0;
}
#navigation ul li a:hover {
    color: #c75c00;
    margin: 0;
    border: 0;
}
.image {
    float: left;
    opacity: 1 !important;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 20px;

}

.image:hover {
    width: 140px;
    height: 140px;
    margin: 25px;

}

.logo {
    float: left;
    padding: 10px 0 0 40px;
    opacity: 1 !important;
    width: 150px;
    height: 150px;   
}
/*
===============================================
Home Page
===============================================
*/
/*#home {
   background-color: #ccc;
    position: absolute;
    background-size: contain;
    height: 100%;
    width: 150%;
}*/

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(videobg.jpg) no-repeat;
background-size: cover;
}

/*
===============================================
Videos Page
===============================================
*/
#vid {
    background-color: #000;
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
} 
#container{
    width: 100%;
    height: 75%;
    display: block;
    margin: 0 0 30vh 0;   
}
/*
===============================================
Audio Page
===============================================
*/
#audio {
    background-image: url(../images/backgrounds/audio.jpg);
    position: absolute;
    background-size: cover;
    height: 120%;
    width: 100%;
} 
/*
===============================================
Pictures Page
===============================================
*/
#pic {
    background-image: url(../images/backgrounds/pics.jpg);
    position: absolute;
    background-size: cover;
    height: 120%;
    width: 100%;
}
.image-set {
text-align: center;
padding-top: 1.5%;
}
.content {
max-width: 650px;
min-height: 970px;
margin-left: auto;
margin-right: auto;
}
/*
===============================================
Characters Page
===============================================
*/
#characters {
    background-image: url(../images/backgrounds/characters.jpg);
    position: absolute;
    background-size: cover;
    height: 120%;
    width: 100%;
}

#charlotte {
    
}

#box {
  width: 500px;
  height: 150px;
  background-color: #363636;
  margin-left: auto;
  margin-right: auto;
}
    

.char1 {
  height: 500px;
  width: 200px;
  position: fixed;
  top: -300px;
  background-color: #363636;
  z-index: 100;
}

/*
===============================================
Barry's site
===============================================
*/
#baz{
    display: block;
    float: left;
    padding: 50px;
    margin: 50px;
    background-color: red;
    
}
/* 
==================================================
#Media Queries
================================================== 
*/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* 
==================================================
#Font-Face
================================================== 
*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsNxB8OB85xaNTJvVSB9YUjQ.woff) format('woff');
}