@charset "UTF-8";
/* 
===============================================
Reset Broswer defined CSS
===============================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
===============================================
#Site Styles
===============================================
*/
body{
    font-family: 'Roboto Condensed', sans-serif;
}
/*
===============================================
Navigation
===============================================
*/
#navigation {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 30vh;
    top: 75%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    z-index: 100;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#navigation ul {
    margin: 0;
    line-height: 12vh;
}
#navigation ul li {
    display: inline;
    width: 100%;
    margin: 0;
    border: 0;
}
#navigation ul li a {
    width: 100%;
    font-family: inherit;
    font-size: 2.3vw;
    color: #000;
    text-decoration: none;
    padding: 0 2% 0 2%;
    margin: 2vw 0 0 0;
    border: 0;
}
#navigation ul li a:hover {
    color: #f00000;
    border-bottom: 5px red;
    margin: 0;
    border: 0;
}
.image {
float: left;
padding: 10px 0 0 40px;
opacity: 1;
width: 150px;
height: 150px;
}
/*
===============================================
Home Page
===============================================
*/
#home {
    background-color: #ccc;
    position: absolute;
    background-size: contain;
    height: 120%;
    width: 100%;
} 
/*
===============================================
Videos Page
===============================================
*/
#vid {
    background-image: url(../images/bgvid.png);
    position: absolute;
    background-size: contain;
    height: 100%;
    width: 100%;
} 
/*
===============================================
Audio Page
===============================================
*/
#audio {
    background-image: url(../images/bg3.jpg);
    position: absolute;
    background-size: contain;
    height: 120%;
    width: 100%;
} 
/*
===============================================
Pictures Page
===============================================
*/
#pic {
    background-image: url(../images/bg2.jpg);
    position: absolute;
    background-size: contain;
    height: 120%;
    width: 100%;
}
/*
===============================================
Characters Page
===============================================
*/
#characters {
    background-image: url(../images/bg4.jpg);
    position: absolute;
    background-size: contain;
    height: 120%;
    width: 100%;
}
/*
===============================================
Barry's site
===============================================
*/
#baz{
    display: block;
    float: left;
    padding: 50px;
    margin: 50px;
    background-color: red;
    
}
/* 
==================================================
#Media Queries
================================================== 
*/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* 
==================================================
#Font-Face
================================================== 
*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsNxB8OB85xaNTJvVSB9YUjQ.woff) format('woff');
}